html,body 		{margin:0; padding:0; height:100%; color:#333; font-family:Verdana; font-size:11px}

#header			{background-image:url(../images/headebg.png); background-repeat:repeat-x}
#footer			{padding:10px}
.bluebox			{background: #B7E6F8; border:1px solid #B7E6F8; margin-left:40px;margin-right:40px;margin-top:20px;-moz-border-radius: 10px;-webkit-border-radius: 10px; border-radius: 10px; -khtml-border-radius: 10px;}

.sitename		{float:right; text-align:right; color:#000; padding-right:10px; font-size:16px; padding-top:5px;}
#signout		{font-size:9px; font-weight:normal; }
#signout a		{text-decoration:none; color:#000}
#imp			{background:#FFF; display:none; background-image:url(../images/stripbg.png); -moz-border-radius:5px;-webkit-border-radius:5px; color:#333; border-radius:5px; -khtml-border-radius:5px; position:absolute; padding:5px; top:-3px; right:80px; height:50px; width:400px; border:1px solid #CCC}

/* error msg */
#msg				{display:inline-table; color:#FFF; font-weight:bold; margin-bottom:5px; height:30px; background-color:#0FBEBB;}
#errmsg				{display:inline-table; color:#FFF; font-weight:bold; margin-bottom:5px; height:30px; background-color:#ED1E1E;}
#alertbox				{position:absolute; cursor:pointer; top:0px; left:100px; color:#FFF; font-weight:bold; height:30px; z-index:100; vertical-align:top; display:none;}
#alertbox .alertboxmsg	{background-image:url(../images/alrbg.gif); height:26px; background-position:top; padding-left:10px; padding-right:10px; background-repeat:repeat-x;}

/* form */
.form					{border:0px; padding:0px}
.formfield				{display:table; padding-top:10px; width:100%; padding-bottom:2px; }
.formfield .label		{float:left; display:table-cell; empty-cells:show; padding-left:10px; width:130px; color:#394144; }
.formfield .field		{float:left; display:table-cell;}
.button					{font-family:Verdana, Geneva, sans-serif;cursor:pointer; font-weight:bold; font-size:11px; width:100px !important; background-image:url(../images/blubtnbg.gif); background-position:top; background-color: transparent; margin:0px;  vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.buttong					{font-family:Verdana, Geneva, sans-serif;cursor:pointer; font-weight:bold; font-size:11px; width:100px !important; background-image:url(../images/grybtnbg.gif); background-position:top; background-color: transparent; margin:0px;  vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}

/* links */
.black:link			{text-decoration:none; color:#D33845;}
.black:visited		{text-decoration:none; color:#D33845;}
.black:hover		{text-decoration:none; color:#CC3300;}

a:link				{text-decoration:none; color:#00578E;}
a:visited			{text-decoration:none; color:#00578E;}
a:hover				{text-decoration:none; color:#CC3300;}

.input					{font-family:Verdana; font-size:11px}
.smlbtn					{width:100px; height:19px; background-image:url(../images/btn100.png); border:0px; padding:0px; font-size:11px}

/* bread crumb */
#breadcrumb				{background-image:url(../images/bcbg.png); height:11px; height:20px; padding-left:10px; padding-top:8px;}
#breadCrumb a			{color:#930}

/* Grid */
.grid					{padding:10px; font-family:Verdana, Geneva, sans-serif; font-size:11px}
.grid table				{width:100%; border-right:1px solid #DBDBDB; background-image:url(../images/grd_bg.png); background-position:top; background-repeat:repeat-x}
.grid .gdtitle			{height:22px; background-image:url(../images/grd_ttl_bg.png); background-position:top}
.grid .gdtitle td		{color:#000; white-space:nowrap; height:22px;  padding-top:0px; padding-bottom:0px; background-image:url(../images/grd_ttl_lft.png); background-position:top; border-bottom:none;  border-left:none; background-position:left; background-repeat:no-repeat }
.grid td				{padding-left:5px; color:#333; padding-top:5px; padding-bottom:5px; border-bottom:1px solid #DBDBDB; border-left:1px solid #DBDBDB}
.grid .sorttd			{cursor:pointer}
.grid .zibrablk			{background-color:#F8F8F8}
.grid .highlight		{background-color:#FAFBDB; background-image:url(../images/unread.png); background-repeat:repeat}
.grid tr:hover			{background-color:#FFC}
.grid .navi				{background-color:#E9E9E9; border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; padding:3px}
.grid .gnavbttnbox a	{text-decoration:none}
.grid .gnavbttnbox		{float:left}
.grid .gnavsrchbox		{padding-right:5px; display:block; text-align:right}
.grid .gselector		{font-family:Verdana, Geneva, sans-serif; font-size:11px; padding:0px; margin:0px; }
.grid .gpagejump		{font-family:Verdana, Geneva, sans-serif; font-size:11px; height:12px; padding:0px; margin:0px; width:18px}
.grid .gsearch			{font-family:Verdana, Geneva, sans-serif; font-size:11px; width:100px; height:12px;}
.grid .gbtn				{font-family:Verdana, Geneva, sans-serif; font-size:11px; width:61px !important; background-image:url(../images/grybtn.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.grid .selected			{background-color:#FF9}

/* Tab Box */
.tabline		{width:100%; margin-top:10px; display:none; height:25px; background-image:url(../images/bbg.gif); background-position:bottom; background-repeat:repeat-x; clear:both}
.tab			{border-left:1px solid #CCC; font-weight:bold; background-image:url(../images/tabbg.gif); border-bottom:1px solid #CCC; float:left; height:18px; padding-top:3px; padding-left:10px; padding-right:10px; margin-left:1px; border-right:1px solid #CCC; border-top:1px solid #CCC; background-color:#F6F7F8; cursor:pointer; margin-top:2px;}
.tab:hover		{background-image:url(../images/tabbg2.gif)}
.tabsel			{border-left:1px solid #CCC; font-weight:bold; border-bottom:1px solid #fff; float:left; height:18px; padding-top:5px; padding-left:10px; padding-right:10px; margin-left:1px; border-right:1px solid #CCC; border-top:1px solid #CCC; background-color:#ffffff; cursor:pointer }
.tabsel:hover	{background-image:url(../images/tabbg2.gif)}
.tabboxes .box	{display:none; padding:5px;border-bottom:1px solid #CCC;border-left:1px solid #CCC;border-right:1px solid #CCC;}

/* Variable Grid */
.vartbl			{border-top:1px solid #CCC;}
.vartbl .vname	{border-bottom:1px solid #CCC; padding:5px; border-left:1px solid #CCC; background-color:#F3F3F3}
.vartbl .vdata	{border-bottom:1px solid #CCC; padding:5px; border-right:1px solid #CCC;}

.statbtn	{cursor:pointer}

/* setting page */
.formblock			{padding:10px; margin:10px}
.divider			{background-color:#fff; border:0px; border-bottom:1px dotted #CCC;  padding-top:5px; padding-bottom:5px}
input				{font-family:Verdana; font-size:11px}
.settingitem		{border-bottom:1px solid #F0F0F0; padding:5px; }
.accordinghead		{background-color:#999999; border:1px solid #999999; font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; color:#FFFFFF; -webkit-border-radius: 5px; border-radius:5px; -khtml-border-radius: 5px; clear:both; padding:6px; font-weight:bold; margin:2px}

/*tipsy */
.tipsy 					{ padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner 			{ padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 500px; text-align: center; }
.tipsy-inner 			{ border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow 			{ position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow 	{ top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow 	{ top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow 	{ top: 0; right: 10px; }
.tipsy-s .tipsy-arrow 	{ bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow 	{ bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow 	{ bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow 	{ top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow 	{ top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
